body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  font-weight: 300;
}
.container{
  max-width: 550px;
  min-width: 230px;
  margin: 0 auto;
  text-align: center
}
.container .header h3 {
  font-size: 100px;
  font-weight: 100;
  color: rgba(175, 47, 47, 0.15);
  text-rendering: optimizeLegibility;
}
.content{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
.content input {
  padding: 16px 16px 16px 35px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  color: inherit;
  box-sizing: border-box;
  outline: none;
}

.footer{
  display: flex;
  box-sizing: border-box  
}
.footerleft{
  flex-grow: 3;
  text-align: left;
  padding-left: 10px
}
.footerright{
  flex-grow: 7;
  display: flex;
}
.footerright p {
  margin: auto 10px;
  padding: 5px;
}
.footerright p:hover{
  border-color: rgba(175, 47, 47, 0.2);
  cursor: pointer;
}
.todolist-complete {
  text-decoration: line-through;
  opacity: 0.5;
}
.checkDone {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(175, 47, 47, 0.2);
  margin: 15px 25px 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemlist{
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #ededed;
  align-items: center;
}
.todoitem{
  font-size: 24px;
  padding: 15px 15px 15px 0px;
  line-height: 1.2;
  margin: 0;
  text-align: left;
  flex-grow: 8;
}
.content-input{
  display: flex;
  align-items: center;
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}
.content-input img {
  margin-left: 20px;
  opacity: 0.5;
}
.iconDelete{
  flex-grow: 1;
  display: none;
  margin-right: 15px;
}
.itemlist:hover .iconDelete{
  display: block;
  cursor: pointer;
}